# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# Android
android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/app/debug/
android/app/profile/
android/app/release/
*.iml
*.jks
key.properties

# IDE
.idea/
.vscode/

# macOS
.DS_Store
